@{
    ViewBag.Title = "Главная";
}
    
<h1 class="center mt-4">Главная</h1>
  
<h2>Пользователи:</h2>
<ul>
    @foreach (var user in ViewBag.Users)
    {
        <li>Email:@user.Email Pass:@user.Password Role:@user.Role.Name</li>
    }
</ul>

<h2>Роли:</h2>
<ul>
    @foreach (var role in ViewBag.Roles)
    {
        <li>@role.Name</li>
    }
</ul>