@using PagedList;
@using PagedList.Mvc;

@model IPagedList<Accidents.Models.Storage.SourceDanger>

@{
    ViewBag.Title = "Источники опасностей";
}

<h1 class="center mt-4">Источники опасностей</h1>

